// BASIC DIMENSIONS
$margin-0: 0;
$padding-0: 0;
$border-box: border-box;

// WIDTH AND HEIGHTS
$width-100-vp: 100vw;
$height-100-vp: 100vh;
$min-width-vp: 320px;
$min-height-vp: 4842px;
$width-100: 100%;
$height-100: 100%;

// POSITIONING
$pos-rel: relative;
$pos-abs: absolute;

// TEXT
$text-center: center;
$color-white: #ffffff;
$color-brown: #a87b62;
$font-cormorant: "Cormorant Garamond", serif;
$font-poppins: "Poppins", sans-serif;

// FLEXBOX
$flexbox: flex;
$justify-center: center;
$align-center: center;
