@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  min-width: 320px;
  max-height: 4842px;
}

.header__navigation {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__navigation .header__navigation--icon-burger {
  position: relative;
  padding-top: 12vw;
  padding-bottom: 12vw;
  padding-left: 4.75vw;
}
.header__navigation .header__navigation--logo-header {
  position: relative;
  color: #a87b62;
  padding-top: 6.25vw;
  padding-right: 29.5vw;
  padding-bottom: 6.25vw;
  padding-left: 29.5vw;
}
.header__navigation .header__navigation--icon-market {
  position: relative;
  padding-top: 12vw;
  padding-right: 4.75vw;
  padding-bottom: 12vw;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .main__logo {
  position: relative;
  display: flex;
  background-image: url(/images/main/logo-main.jpg);
  background-size: cover;
  background: linear-gradient(rgba(86, 64, 52, 0.7));
  background-position: center;
}
.main .main__logo img {
  position: relative;
  width: 100%;
  height: 100%;
}
.main .main__logo .main__logo--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  padding: 62.5% 12.5%;
  position: absolute;
  text-align: center;
  color: #ffffff;
}
.main .main__logo .main__logo--text h2 {
  width: 100%;
  max-width: 240px;
  height: 100%;
  max-height: 25px;
  position: relative;
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 38px;
  line-height: 49.4px;
  letter-spacing: 0.75px;
}
.main .main__logo .main__logo--text p {
  position: relative;
  width: 100%;
  max-width: 205px;
  height: 100%;
  max-height: 22px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-style: italic;
  font-size: 34px;
  line-height: 44.2px;
  margin: 16px 18px 0px 17px;
  white-space: nowrap;
}
.main .main__newin {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .main__newin .main__newin--container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .main__newin .main__newin--line {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 80px;
  height: 1px; /* Толщина линии */
  background-color: #a87b62; /* Цвет линии */
  margin: 10px 0px;
}
.main .main__newin .main__cards_container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main .main__newin .main__card_container--leftblock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .main__newin .main__card_container--rightblock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .main__newin img {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 130px;
  max-height: 136px;
}/*# sourceMappingURL=styles.css.map */