* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 2px solid black !important; // ПОЛЕЗНОЕ
}

body {
  width: 100vw;
  height: 100vh;
  min-width: 320px;
  max-height: 4842px;
}

.header__navigation {
  position: relative; // ПЕРЕМЕННАЯ
  display: flex;
  justify-content: center;
  align-items: center;

.header__navigation--icon-burger {
  position: relative; // ПЕРЕМЕННАЯ
  padding-top: 12vw;
  padding-bottom: 12vw;
  padding-left: 4.75vw;
}

.header__navigation--logo-header {
  position: relative; // ПЕРЕМЕННАЯ
  color: #a87b62;  // ПЕРЕМЕННАЯ
  padding-top: 6.25vw;
  padding-right: 29.5vw;
  padding-bottom: 6.25vw;
  padding-left: 29.5vw;
}

.header__navigation--icon-market {
  position: relative; // ПЕРЕМЕННАЯ
  padding-top: 12vw;
  padding-right: 4.75vw;
  padding-bottom: 12vw;
}
}

.main {
  position: relative; // ПЕРЕМЕННАЯ
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

.main__logo {
  position: relative; // ПЕРЕМЕННАЯ
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/images/main/logo-main.jpg);
  background-size: cover;
  background: linear-gradient(rgba(86, 64, 52, 0.7));
  background-position: center; // ЦЕНТРИРОВАНИЕ ИЗОБРАЖЕНИЯ
  
  img {
    position: relative; // ПЕРЕМЕННАЯ
    width: 100%;
    height: 100%;
    }

  .main__logo--text {
    margin: 62.5% 12.5%; // ЗАПИСЬ ВЕРНА???
    position: absolute; // ПЕРЕМЕННАЯ
    text-align: center;
    color: #ffffff; // ПЕРЕМЕННАЯ


  h2 {
    position: relative;
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 38px;
    line-height: 49.4px;
  }

  p {
    position: relative;
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-style: italic;
    font-size: 34px;
    line-height: 44.2px;
    margin-top: 16px;
  }
    }
  }
}

